# Use the latest 2.1 version of CircleCI pipeline process engine.
version: 2.1

# Define a job to be invoked later in a workflow.
jobs:

  print_init:
    # Print Branch name
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run:
          name: "What branch am I on?"
          command: echo current branch is ${CIRCLE_BRANCH}
  
  print_hello:
    # Print Hello Job
    docker: 
      - image: circleci/node:13.8.0
    steps:
      - run:
          name: "Print hello"
          command: "echo Hello Russel"

  print_world:
    # Print World Job
    docker: 
      - image: circleci/node:13.8.0
    steps:
      - run:
          name: "Print World"
          command: "echo World Russel"

# Invoke jobs via workflows
workflows:
  say-hello-workflow:
    jobs:
      - print_init
      - print_hello:
          requires:
            - print_init
      - print_world:
          requires:
            - print_hello
